@model Dominio.Modelo.Computadoras

@{
    Layout = null;
    ViewBag.Title = "Editar Computadoras";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <div>
        @using (Html.BeginRouteForm("FormRuta", new { }, FormMethod.Post,new { data_Type = "computadoras" }))
        {

            <div>
                @Html.EditorForModel();
            </div>

        }
    </div>
</body>
</html>
