body {
}

.Cabecera {border-bottom: 1px solid #ccc; max-height:80px}



.Contenido{ border:1px solid #ccc;}

.btnItems{
    font-size:12px;
    text-align:center;
}

.tablaSuministro
{
    font-size:12px;
}

.tablaSuministroCabezera {
    background-color:#b7c0d1;
    min-height:50px; 
    padding: 10px 20px 5px 5px;
    width:100%;
}

.vBorderR{border-right: 1px dotted  #ccc;}

.hborderB{ border-bottom: 1px dotted #ccc;}
.FilaSuministro{
    background-color:#fbfaf8;
    border-bottom: 1px solid #ccc;
    font-weight:bold;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  border-radius: 25px;
  padding:6px 0px !important;
}

.btn-circle-paginacion {
    width: 31px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 6px 0px!important;
    font-weight: bold;
    border-radius: 15px;
    background-color: #607D8B;
    color: white;
    border-color: #607D8B;
    margin-left: 3px;
}

.btn-circle-paginacion:hover {
    width: 31px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 6px 0px!important;
    font-weight: bold;
    border-radius: 15px;
    background-color: #9575CD;
    color: white;
    border-color: #9575CD;
    margin-left: 3px;
}

.btn-circle-paginacion-Seleccion {
    width: 31px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 6px 0px!important;
    font-weight: bold;
    border-radius: 15px;
    background-color: #2962FF;
    color: white;
    border-color: #2962FF;
    margin-left: 3px;
}

.table-striped> tbody > tr >th,
.table-striped> tbody > tr >td {
	background-color: #fbfaf8;
    border-bottom: 1px solid #ccc;
    
}

.FilasHeaders{
    font-size:small;
    font-weight:normal;
    color:#90A4AE;
}

.FilasTexto{ color:#263238;}

.searchInputGroup{
    width:100%;
    padding-top:11px;
}

.BusquedaDropDownList
{
    max-width:150px;
}
.BusquedaTextBox{
    max-width:300px;
}

.fixTopSuministros{
    background-color: #f3f3fb;
    width: calc(100% - 9.9%);
    position: fixed;
    margin-top: 50px;
}

.fixTopTablaSuministros{
    margin-top: 174px;
    margin-left:0px;
    width:100%;
}

.celdaDetalles{
    background-color: #80CBC4 !important;
    color: #37474F !important;
}

.celdaDetalles span{
 color: #212121 !important;
}