body {
}

.Cabecera {
 border-bottom: 1px solid #ccc;
}
.Contenido
{
    border:1px solid #ccc;
}

.whiteRow 
 { background-color:#fff!important; }

.tablaSuministro
{
    font-size:10px;
    border:1px solid #ccc;
}

.tablaSuministroCabezera {
background-color:#b7c0d1;
}