body {
}

.Cabecera {
 border-bottom: 1px solid #ccc;

}

.Cuerpo{

}

.CabeceraContenido{
    margin:10px;
}

.Contenido
{
    border:1px solid #ccc;
}

.whiteRow 
 { background-color:#fff!important; }

.btnItems{
    font-size:12px;
  
     text-align:center;
}

.tablaSuministro
{
    font-size:12px;


}

.vBorderR
{
border-right: 1px dotted  #ccc;


}

.hborderB
{
    border-bottom: 1px dotted #ccc;

  
}


.tablaSuministroCabezera {
    background-color:#b7c0d1;
    min-height:70px;
   
}

.searchInputGroup{
    display:inline-block;
    vertical-align:middle;
    padding-top:15px;
}
.FilaSuministro{
    background-color:#fbfaf8;
    border-bottom: 1px solid #ccc;
    font-weight:bold;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 10px;
  border-radius: 15px;
}

.btn-circle-paginacion {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  font-weight:bold;
  border-radius: 15px;
}

.table-striped> tbody > tr >th,
.table-striped> tbody > tr >td {
	background-color: #fbfaf8;
    border-bottom: 1px solid #ccc;
    
}

.FilasHeaders{
    font-size:small;
    font-weight:normal;
    color:#90A4AE;
}

.FilasTexto{
    color:#263238;
}
