 <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/AlmacenLayoutStyle.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-fixed-top navBarTop">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="" href="#">Almacen Equipo Computo</a>
        </div>
    </div>
    </nav>
    <div class="container-fluid">
       <div class="row" id="wrapper">
           <div class="col-md-1" id="sidebar-wrapper">
               <div class="sidebar">
                   <ul class="nav list-group">
                       <li>
                           <a href="#">
                               <div class="row">
                                   <span class="glyphicon glyphicon-th"></span>
                               </div>
                               <div class="row">
                                   <span>Dash</span>
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="">
                               <div class="row">
                                   <span class="glyphicon glyphicon-th-list"></span>
                               </div>
                               <div class="row">
                                   <span>Suministros</span>
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="">
                               <div class="row">
                                   <span class="glyphicon glyphicon-modal-window"></span>
                               </div>
                               <div class="row">
                                   <span>Computo</span>
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="">
                               <div class="row">
                                   <span class="glyphicon glyphicon-user"></span>
                               </div>
                               <div class="row">
                                   <span>Usuarios</span>
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="">
                               <div class="row">
                                   <span class="glyphicon glyphicon-lock"></span>
                               </div>
                               <div class="row">
                                   <span>Arca</span>
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="">
                               <div class="row">
                                   <span class="glyphicon glyphicon-book"></span>
                               </div>
                               <div class="row">
                                   <span>Reportes</span>
                               </div>
                           </a>
                       </li>
                   </ul>
               </div>
           </div>
           <div class="col-md-11 col-md-offset-1 " id="main-wrapper">
               @RenderBody()
           </div>
       </div>
    </div>
</body>
</html>
 