
@{
    ViewBag.Title = "SuministrosLista";
    Layout = "~/Views/_AlmacenLayout.cshtml";
}

<link href="~/Content/Suministros.css" rel="stylesheet" />

<div class="container-fluid Cabecera">
    <h2>SuministrosLista</h2>
</div>
   <div class="container-fluid">
        
   </div>

